// colors
$color-red: #fd1d1d;
$color-orange: #fcb045;
$color-yellow: #fcef45;
$color-green: #81fc45;
$color-blue: #45d8fc;
$color-indigo: #5245fc;
$color-violet: #af45fc;
$color-pink: #F068C1;
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

$color-black: #111111;
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
// mixins & animation
@mixin crossBrowserPrefix($property, $css) {
  -webkit-#{$property}: #{$css};
  -moz-#{$property}: #{$css};
  -ms-#{$property}: #{$css};
  -o-#{$property}: #{$css};
  #{$property}: #{$css};
}

@mixin rainbow() {
	background-image: linear-gradient(
    to right,
		$color-red,
	  $color-orange,
		$color-yellow,
		$color-green,
		$color-blue,
		$color-indigo, 
		$color-violet
	);
  background-size: 200% 200%;
}

@mixin rainbow2() {
	background-image: linear-gradient(
    to right,
	  $color-orange,
    $color-pink,
		$color-indigo, 
		$color-violet
	);
  background-size: 200% 200%;
}

@keyframes magic {
  from {
      background-position: 0 0;
  }
 	to {
    background-position: 100% 100%;
  }
}

// reset indents
* {
  margin: 0;
  padding: 0;
}

// it's time for magic!
.wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: $color-black;
}

.text {
  font-family: 'Trap', sans-serif; 
  color: transparent;
  @include rainbow;
  @include crossBrowserPrefix(animation, magic 3s infinite linear alternate);
  @include crossBrowserPrefix(background-clip, text);
}

.text2 {
  font-family: 'Trap', sans-serif; 
  color: transparent;
  @include rainbow2;
  @include crossBrowserPrefix(animation, magic 3s infinite linear alternate);
  @include crossBrowserPrefix(background-clip, text);
}

.buttonProject {
  position: relative;
  display: inline-block;
  padding: 5px 10px ;
  font-size:20px;
  font-weight: bold;
 
  background: darkslateblue;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}

.default-text {
  position: relative;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trap', sans-serif; 


  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover styles for .buttonProject */
.buttonProject:hover .default-text {
  opacity: 0;
}

.buttonProject:hover .hover-text {
  transform: translateY(0);
  opacity: 1;

  transition: opacity .5s;
  animation: spin 12s linear infinite;
  
}

