@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 3.5);
}


abody {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}


.card {
 
  /* width: var(--card-width);
  height: var(--card-height); */

  position: relative;
  /* border-radius: 20px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 0%);
  transition: color 1s;
}
/* .card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
} */


.card::before {
  content: "";
  width: 101%;
  height: 101%;
  border-radius: 21px;
  background-image: linear-gradient(
    var(--rotate)
    , #F068C1 43%, #5245fc, #af45fc );
    position: absolute;
    z-index: -1;
 
    animation: spin 12s linear infinite;
}

.card:hover::before {
  animation: pause 2.5s linear infinite;
  opacity: 100%;
}

.card:hover::after {
  position: absolute;
  content: "";
  top:0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) /10));
  background-image: linear-gradient(
    var(--rotate)
    , #fcb045, #F068C1, #5245fc, #af45fc );
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.texttitle {
  position: relative;
  display: inline-block; /* Ensure that the background-clip affects only the text itself */
  font-size: 24px; /* Adjust the font size as needed */
  color: transparent; /* Make the text color transparent to reveal the gradient background */
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  background-image: linear-gradient(var(--rotate), #fcb045, #F068C1, #5245fc, #af45fc );
  animation: spin 5.5s linear infinite;
}



